<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Senior Design Palette</title>

	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<script src="js/smooth-scroll.js"></script>
	<script src="js/work.js"></script>
	<script src="js/overlay.js"></script>
	<script src="js/students.js"></script>
</head>
<body>

	<div class="overlay">

		<div class="pane">
			<span class="x">X</span>
			<div class="image">
				
			</div>
			<div class="rightPane">
				<div class="paneContent">
					<h3 class="title">Title</h3>
					<h4 class="designer">Designer</h4>
					<span class="client">Client</span>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam molestiae veniam incidunt atque expedita maxime eligendi. Itaque voluptates sint, optio cumque totam, commodi, officia doloremque sunt aliquid perspiciatis aspernatur blanditiis?</p>
					<div class="colorSquare"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<header class="top">

		<div class="wrapper">
			<a href="#index"><div class="logo"></div></a>

			<nav>
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#gallery">Gallery</a></li>
					<li><a href="#students">Students</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</div>

		<div class="progress"></div>
	</header>

	<div class="hero" id="index">
		
	</div>

	<div class="content">
		<div class="wrapper" id="about">
			<div class="about">

				<h3>/About</h3>
				
				<p>The first thing to know about the graphic design majors of 2015 is that we, as a whole, are quite competitive. When we first met to discuss the theme of the graphic design showcase, it was decided that no matter what, we had to be at least as creative and as innovative as the previous years. This led to our first roadblock…how could we possibly accomplish that? The classes of 2013 and 2014 both achieved showcases that were professional and organized while at the same time being interactive and dynamic. Additionally, they raised the stakes even higher by each creating a showcase that truly spoke the language of the graphic design industry. However, the class of 2015 refused to be outdone.  After a tenuous meeting of back and forth (and a few too many drawings on the whiteboard) we settled on an idea. We were going to base our showcase off the Pantone color system. </p>

				<p>The Pantone color system is an international color standard that provides a common language between designers and printers. Every season, Pantone releases a new color palette to add to their numerous collections, and it is their Spring 2015 palette that has inspired our showcase. We realized that we are a cohesive and formidable class that happens to be comprised of eighteen distinct individuals. Somewhere between learning the basics in Graphic Design Foundations to presenting our final pieces in Senior Portfolio reviews, we’ve all been able to distinguish ourselves as designers. Our talents range from a web design wiz to a cinematic poster designer and it is for this reason that we chose to showcase ourselves as eighteen unique Pantone colors. However, though we all may be different, we are all one palette, the design class of 2015, and will undeniably make the most impact as a group.</p>

				<img src="img/logo-full.png" alt="">
			</div>
		</div>


		<div class="wrapper" id="gallery">
			<div class="gallery">
				<h3>/Gallery</h3>
				
				<div class="clear"></div>
			</div>	
		</div>

		<div class="wrapper" id="students">
			<div class="students">
				<h3>/Students</h3>
				<div class="clear"></div>
			</div>
		</div>

		<div class="wrapper" id="contact">
			<div class="contact">
				<h3>/Contact</h3>
				
			</div>
		</div>
	</div>

	<script>
	$(document).ready(function(){

		getColor();

		$(document).scroll(function(){
			progress();
		});

		// $('.gallery .image').hover(function(){
		// 	var v = $(this).attr('value');
		// 	$(' .color').css({
		// 				'visibility':'visible',
		// 				'background':colors[v],
		// 				'opacity': '0.3'
		// 	});
		// },function(){
		// 	var v = $(this).attr('value');
		// 	$(' .color').css({
		// 				'visibility':'hidden',
		// 				'background':'none',
		// 				'opacity': '0'
		// 	});
		// });
	});

	function progress(){
		var B = document.body,
			H = document.documentElement,
			height;

		if (typeof document.height !== 'undefined') {
    		height = document.height // For webkit browsers
		} else {
			height = Math.max( B.scrollHeight, B.offsetHeight,H.clientHeight, H.scrollHeight, H.offsetHeight );
		}

		var docPos = $(document).scrollTop();

		var progress = 116 * (docPos / height);

		$('.progress').css('width', (progress + '%'));

	}

	var colors = [
			"#7DA1BF",//Dusk Blue
			"#7E8040",//Woodbine
			"#9EC6D9",//Aquamarine
			"#C88E6C",//Sandstone
			"#7ECBB4",//Lucite Green
			"#D3B39A",//Toasted Almond
			"#955352",//Marsala
			"#1B4F8B",//Classic Blue
			"#4E6F39",//Treetop
			"#B38FB0",//Lavendar Herb
			"#C5CBCC",//Glacier Gray
			"#00B3CB",//Scuba Blue
			"#F89357",//Tangerine
			"#563345",//Sangria
		];


	function getColor(){

		var r = Math.floor(Math.random() * 14);

		console.log(colors[r]);

		$('.progress').css('background',colors[r]);
		$('nav ul li').hover(function(){
			$(this).css('color',colors[r]);
		},function(){
			$(this).css('color','#000');
		});
	}

	// function getColor(n){
	// 	var colors = [
	// 		"#9EC6D9",
	// 		"#00B3CB",
	// 		"#7ECBB4",
	// 		"#1B4F8B",
	// 		"#D3B39A",
	// 		"#E4868F",
	// 		"#F89357",
	// 		"#EADA8B",
	// 		"#955352",
	// 		"#C5CBCC",
	// 		"#7DA1BF",
	// 		"#4E6F39",
	// 		"#7E8040",
	// 		"#C88E6C",
	// 		"#898889",
	// 		"#B38FB0",
	// 		"#7AAA40",
	// 		"#563345"
	// 	]

	// 	return colors[n];
	// }




</script>
<h6>
	All Work Presented Here Designed by the Graphic Design Majors of the Stonehill Class of 2015 <br>
	Website Designed by Brian Brennan

</h6>
</body>
</html>