@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
.wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
