

@import 'susy';
@import 'breakpoint';
@import 'bourbon';
@import 'mixins';
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
//----------------------------------------Reset------------------------------

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }

//----------------------------------------VARIABLES---------------------------

$susy: (
	columns: 12,
	gutters: 1,
	gutter-position:split
	);
//----------------------------------------Colors------------------------------

$black					:#000;
$white					:#FFF;
$aquamarine 			:#9EC6D9;
$scuba-blue             :#00B3CB;
$lucite-green           :#7ECBB4;
$classic-blue           :#1B4F8B;
$toasted-almond         :#D3B39A;
$strawberry-ice         :#E4868F;
$tangerine              :#F89357;
$custard                :#EADA8B;
$marsala                :#955352;
$glacier-gray           :#C5CBCC;
$dusk-blue              :#7DA1BF;
$treetop                :#4E6F39;
$woodbine               :#7E8040;
$sandstone              :#C88E6C;
$titanium               :#898889;
$lavender-herb          :#B38FB0;
$lime-green             :#7AAA40;
$dark-red               :#563345;



//----------------------------------------Fonts-----------------------------

$main-font : 'PT Sans', sans-serif;

//----------------------------------------Sizing----------------------------

$mainFontSize		:16px;
$smallFontSize		:14px;
$miniFontSize		:12px;
$mediumFontSize		:20px;
$bigFontSize		:28px; 
$largeFontSize		:40px;

//----------------------------------------Spacing----------------------------

$mic			:3px;
$tny			:7px;
$sm 			:15px;
$reg			:30px;
$med 			:45px;
$lg 			:60px;
$xlg			:150px;

//----------------------------------------Breakpoint--------------------------

$desk		:1050px;
$midSize	:700px 1049px;
$smallSize 	:0 699px;


//----------------------------------------STYLES------------------------------

body{
	background: $white;
	font-family:$main-font;
	line-height:1.5;
	font-size:$smallFontSize;
}

a{
	color:inherit;
	text-decoration:none;
	width:auto;
}

.wrapper{
	@include container(1140px);
}

.clear{
	height:$reg;
	clear:both;
}

.progress{
	height:$tny;
	background:$titanium;
	margin-bottom:-($sm);
	margin-top:$sm;
	width:0px;
}

// .color{
// 	// opacity:0.6;
// 	@include transition(0.3s);
// 	visibility: hidden;
// 	position:absolute;
// 	width:100%;
// 	height:100%;
// }

.overlay{
	background:rgba(0, 0, 0,.9);
	width:100vw;
	height:100%;
	visibility:hidden;
	opacity:0;
	transition:opacity .4s ease,
	visibility .4s ease;
	-webkit-transition:opacity .4s ease,
	visibility .4s ease;
	-moz-transition:opacity .4s ease,
	visibility .4s ease;
	z-index:5;
	position:absolute;
	top:0;
	margin:0;
	position:fixed;

	.pane{
		max-width:1400px;
		width:80vw;
		height:80vh;
		margin:10vh auto;
		background:$white;
		line-height:80vh;
		padding:$reg;
		overflow:hidden;

		.x{
			font-weight:bold;
			float:right;
			vertical-align:baseline;
			cursor:pointer;
			line-height:1;
			clear:both;
			font-size:$largeFontSize;
			margin-bottom:$reg;
		}

		.rightPane{
			position:relative;
			width:30%;
			height:100%;
			float:right;
			display:inline-block;
		}

		img{
			max-height:70vh;
			vertical-align: middle;
		}

		.image{
			width:70%;
			text-align:center;
			float:left;
		}

		.paneContent{
			line-height:1.5;
			vertical-align: baseline;
			text-align:right;
			clear:right;
			width:300px;
			position:absolute;
			bottom:$lg;
			right:$sm;
			padding:$tny;
			background:$white;
		}

		.title,.designer,.client,.description,.colorSquare{
			margin:$tny 0;
		}

		.title{
			font-weight:700;
			font-size: $mediumFontSize;
		}

		.colorSquare{
			height:20px;
			width:20px;
			background:black;
			float:right;
		}
	}
}

.top{
	padding:$sm 0;
	position:fixed;
	width:100%;
	background:$white;
	box-shadow: rgba(0,0,0,0.5) 1px 1px 5px;

	.logo{
		background:url('../img/logo.png');
		float:left;
		width:$xlg;
		height:$lg;
		vertical-align: middle;
		margin-left:2%;
	}

	
	nav{
		ul{
			@include breakpoint($desk){
				@include span(6 omega);
				li{
					@include span(3);
					vertical-align: middle;
					font-weight:700;
					text-transform:uppercase;
					font-size:$mainFontSize;
					@include transition(.2s);
					margin-top:$sm;
				}

				li:last-child{@include last();}

				// li:nth-child(1):hover{color:$classic-blue}
				// li:nth-child(2):hover{color:$strawberry-ice}
				// li:nth-child(3):hover{color:$treetop}
				// li:nth-child(4):hover{color:$tangerine}
			}//end of first breakpoint

			@include breakpoint($midSize){
				@include span(9 omega);
				li{
					@include span(3);
					vertical-align: middle;
					font-weight:700;
					text-transform:uppercase;
					font-size:$mainFontSize;
					@include transition(.2s);
					margin-top:$sm;
				}

				li:last-child{@include last();}

				// li:nth-child(1):hover{color:$classic-blue}
				// li:nth-child(2):hover{color:$strawberry-ice}
				// li:nth-child(3):hover{color:$treetop}
				// li:nth-child(4):hover{color:$tangerine}
			}//end of second breakpoint

			@include breakpoint($smallSize){
				@include span(11 omega);
				li{
					@include span(3);
					vertical-align: middle;
					font-weight:700;
					text-transform:uppercase;
					font-size:$mainFontSize;
					@include transition(.2s);
					margin-top:$sm;
				}

				li:last-child{@include last();}

				// li:nth-child(1):hover{color:$classic-blue}
				// li:nth-child(2):hover{color:$strawberry-ice}
				// li:nth-child(3):hover{color:$treetop}
				// li:nth-child(4):hover{color:$tangerine}
			}//end of second breakpoint
		}
	}
}//.top


.hero{
	height:100vh;
	background:$titanium;
}//.hero

.about{
	padding:$reg 0;

	h3{
		text-align:center;
		font-size:$bigFontSize;
		margin:$lg 0 $lg 0;
		text-transform:uppercase;
		font-weight:700;
	}

	@include breakpoint($desk){

		p{
			margin:$reg 0;
			@include span(7);
			display:inline-block;
		}

		img{
			display:inline-block;
			float:right;
			margin-top:-($xlg + $sm);
			margin-right:2%;

		}
	}//end of first breakpoint

	@include breakpoint($midSize){
		p{
			margin:$reg 0;
			@include span(7);
			display:inline-block;
		}

		img{
			display:inline-block;
			margin-top:-($xlg + $sm);
			@include span(4 omega);
		}
	}//end of second breakpoint

	@include breakpoint($smallSize){
		p{
			margin:$reg 0;
			@include span(12 2);
			display:inline-block;
		}

		img{
			display:none;
		}
	}//end of second breakpoint

}//.about

.gallery{
	padding:$reg 0;

	h3{
		text-align:center;
		font-size:$bigFontSize;
		margin:$lg 0 $lg 0;
		text-transform:uppercase;
		font-weight:700;
	}
	@include breakpoint($desk){

		.image{
			@include span(3);
			text-align:center;
			height:320px;
			line-height:320px; //trick that will vertically center images
			// padding: 0 $reg;
			margin-bottom:$reg;
			cursor:pointer;
			// border:1px solid $glacier-gray;
			box-sizing:border-box;
			box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;

			img{
				// border:1px solid $black;
				width:150px;
				vertical-align: middle;
			}	
		}	
	}//end of first breakpoint
	@include breakpoint($midSize){

		.image{
			@include span(4);
			text-align:center;
			height:320px;
			line-height:320px; //trick that will vertically center images
			// padding: 0 $reg;
			margin-bottom:$reg;
			cursor:pointer;
			// border:1px solid $glacier-gray;
			box-sizing:border-box;
			box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;


			img{
				// border:1px solid $black;
				width:150px;
				vertical-align: middle;
			}	
		}	
	}//end of second breakpoint

	@include breakpoint($smallSize){

		.image{
			@include span(6);
			text-align:center;
			height:320px;
			line-height:320px; //trick that will vertically center images
			// padding: 0 $reg;
			margin-bottom:$reg;
			cursor:pointer;
			// border:1px solid $glacier-gray;
			box-sizing:border-box;
			box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;


			img{
				// border:1px solid $black;
				width:200px;
				vertical-align: middle;
			}	
		}	
	}//end of second breakpoint

	// .image:nth-child(4n){
	// 	@include last();
	// }
}

.students{
	padding:$reg 0;

	h3{
		text-align:center;
		font-size:$bigFontSize;
		margin:$lg 0 calc(8% - ($lg)) 0;
		text-transform:uppercase;
		font-weight:700;
	}


	@include breakpoint($desk){

		.profile{
			@include span(3);
			margin-top:$lg;
			text-align:center;

			img{
				height:300px;
				width:auto;
				box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
			}
		}

		.profile:nth-child(20), .profile:nth-child(19){
			@include span(6);
		}

	}//end of first breakpoint

	@include breakpoint($midSize){

		.profile{
			@include span(4);
			margin-top:$lg;
			text-align:center;

			img{
				height:300px;
				width:auto;
				box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
			}
		}
		
	}//end of second breakpoint

	@include breakpoint($smallSize){

		.profile{
			@include span(6);
			margin-top:$lg;
			text-align:center;

			img{
				height:300px;
				width:auto;
				box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
			}
		}

		.profile:nth-child(20), .profile:nth-child(19){
			@include span(6);
		}
		
	}

}//.students

.contact{
	padding:$reg 0;

	h3{
		text-align:center;
		font-size:$bigFontSize;
		margin:$sm 0 $lg 0;
		text-transform:uppercase;
		font-weight:700;
	}
}

h6{
	font-size: $miniFontSize;
	text-align:center;
}